@import "mocha.css";

* {
  font-family: FiraCode Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 3px 3px;
}

#workspaces {
  border-radius: 0.5rem;
  margin: 2px;
  background-color: @surface0;
  margin-left: 3px;
}

#workspaces button {
  color: @lavender;
  border-radius: 0.5rem;
  /* padding: 0.2rem 0.6rem; */
}

#workspaces button label {
  font-size: 16px;
}

#workspaces button.active {
  color: @sky;
  border-radius: 0.5rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 0.5rem;
}

#tray,
#idle_inhibitor,
#keyboard-state,
#backlight,
#clock,
#battery,
#pulseaudio,

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
  margin: 0.5rem 1rem;
}

#keyboard-state {
  /* margin: 1rem; */
}

#language {
  margin: 0.5rem 1rem;
}

#idle_inhibitor {
  margin: 0.5rem 1rem;
}

#idle_inhibitor.activated {
  color: @green;
  margin: 0.5rem 1rem;
}

#idle_inhibitor.deactivated {
  color: @red;
  margin: 0.5rem 1rem;
}

#battery.charging {
  color: @green;
  margin: 0.5rem 1rem;
}

#battery.warning:not(.charging) {
  color: @red;
  margin: 0.5rem 1rem;
}

#network {
  color: @green;
  margin: 0.5rem 1rem;
}

#backlight {
  color: @yellow;
  margin: 0.5rem 1rem;
}

#backlight, #battery {
  border-radius: 0;
  margin: 0.5rem 1rem;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}


#tray {
  color: @text;
  margin-right: 1rem;
  border-radius: 1rem;
}
